{% extends 'layout.html' %}
{% block content %}

<h2>Products</h2>
<hr/>
<div class="card-deck">
    {% for product in products %}
     <div class="col-4">
        <div class="card">
            <div class="card-header">
                <p class="card-text">{{ product.name }}
                    <span class="float-right">${{ product.price }}</span>
                </p>
            </div>
            <div class="card-body">
            <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}">
        </div>
        <div class="card-footer">
            <a href="{{ url_for('shop_cart_add', product_id=product.id) }}" class="btn btn-info btn-block">Add to Cart</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
    
{% endblock content %}