{% extends 'layout.html' %}

{% block content %}

<main class="container col-6 center">
  <h2>Login</h2>
<hr/>
<form method="POST" action="{{ url_for('login') }}">
    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="user@domain.com" aria-describedby="helpId" />
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Type your password here" aria-describedby="helpId">
    </div>
    <div class="form-group">
        <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="remember_me" value="checkedValue" >
        Remember Me
      </label>
    </div>
    </div>
    <input type="submit" class="btn btn-info" value="Sign In" />
</form>
</main>

{% endblock content %}