{% extends 'layout.html' %}

{% block content %}

<h2>
    {% if current_user.is_authenticated%}
        Hello, {{ current_user.first_name }} {{ current_user.last_name }}
    {% else %}
        Welcome
    {% endif %}
</h2>
<hr/>
    <div class="row">
        <div class="col-12">
            <form method="POST">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" class="form-control" name="blog_post" id="blog_post" aria-describedby="helpId" placeholder="What's on your mind?">
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-info btn-block" type="submit">
                            Post
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <form method="DELETE">
                <ul class="list-group">
                {% for post in posts %}
                    <li class="list-group-item mb-4">
                        <div class="mb-2">
                            <span class="float-right">
                                <button class="btn btn-sm btn-outline-danger" type="submit">
                                Delete
                            </button>
                        </span>
                        {{ post.body}}
                        </div>
                        <div>
                            <small>
                                &mdash; {{ post.author.first_name }} {{ post.author.last_name }}
                            <span class="float-right">
                                {{ moment(post.date_created).fromNow() }}
                            </span>
                            </small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            </form>
        </div>
    </div>

{% endblock content %}